<template>
  <footer class="footer">
    <div class="container-flex">
      <span>Created and designed by : </span> <a href="https://bitbucket.org/eldiegod/" target="_blank">Diego Cárdenas</a>
    </div>
  </footer>
</template>

<style scoped>

.footer {
  height: 50px;
  background: #1c1d1d;
  padding: 0.75% 0 0 0%;
  text-align: center;
}

</style>
