<template>
<div>
  <!-- header -->
  <div class="header2">
      <p>Categories <span>/</span> {{currentCategory.name}}</p>
      <b-nav justified class="categories ">
        <b-nav-item 
        v-for="(category) in categories"
        :key="category.id"
        @click="categoryClick(category)"
        active>
          {{category.name}}
        </b-nav-item>
      </b-nav>
  </div>

  <!-- products -->
  <div class="container-fluid catalog">
    <div>
      <!-- rows group of products -->
      <b-card-group deck
      class="card-group"
      v-for="row in rows" 
      :key="row">
        <!-- columns of products -->
        <!-- we pass row-1 to the nextProducts func since it v-for range index starts at 1 and not at 0 -->
        <b-card
        class="card"
        v-for="(product, index) in nextProducts(row-1)" 
        body-border-variant="0"
        border-variant="0"
        :key="index"
        img-src='/_nuxt/img/media-gear.6e8081b.jpg'
        :img-alt="product.name"
        img-top>
          <h4 class="card-title text-dark float-left"> {{product.name}} 
            <span 
            class="float-right badge badge-pill"
            :class="badgeColor(product.in_stock)">
              {{(product.in_stock ? 'In Stock' : 'Out of Stock')}}
            </span>
          </h4>
          <h1 class="price align-top text-success float-right"> {{product.price}}€ 
          </h1>
        </b-card>
      </b-card-group>
    </div>
  </div>
</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      // Amount of product columns
      columns: 3,
      products: this.$store.state.products
    }
  },
  computed: {
    // Amount of product rows
    rows: function () {
      return Math.ceil(this.products.length / this.columns)
    },
    // maps products from the store so we can use it here
    ...mapState([
      'currentCategory',
      'categories'
    ])
  },
  methods: {
    /*
    ** Returns a new array of products
    ** to show in the current row
    */
    nextProducts: function (nextRow) {
      let begin = nextRow * this.columns
      let end = begin + this.columns
      let nextProducts = this.products.slice(begin, end)
      // array must be the length of columns for it to look good
      if (nextProducts.length < this.columns) {
        // so we duplicate the last item as much as needed to reach lenght of columns
        let initialLength = nextProducts.length
        for (let index = initialLength; index < this.columns; index++) {
          nextProducts.push(nextProducts[0])
        }
      }
      return nextProducts
    },
    categoryClick: function (category) {
      this.$store.commit('changeCategory', category)
      this.products = this.$store.getters.productsByCategory(this.currentCategory)
    },
    badgeColor: function (inStock) {
      if (inStock) {
        return 'badge-info'
      } else {
        return 'badge-danger'
      }
    }
  }
}
</script>

<style scoped>

.header2 {
  width: 100%;
  height: 300px;
  margin: 0% 0 0 0;
  padding: 0;
  background-image: url('~/assets/img/media-gear.jpg');
  background-position-y: 20%;
  background-position-x: 50%;
}

.header2 p {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 4em;
  text-align: center;
  z-index: 3;
  padding: 5% 0 0 0;  
}

.categories {
  width: 100%;
  height: 100%;
  padding: 4% 30% 0 30%;
  text-align: center;
  font-size: 1.25em;
  font-weight: 800
  /* margin: auto;   */
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  color: rgb(27, 26, 26);
  margin: 6% 0 0 0;
 } 

.price {
  font-family: 'Lato', sans-serif;
  font-size: 2.25em;
  font-weight: 800;
  margin: 6% 0 0 0;
}

.card {
  margin: 0% 5% 5% 5%;
}

/* .card-group {
  margin-bottom: 3%;
} */

.catalog {
  padding: 5% 5% 0% 5%
}

.card-body {
  padding: 0 5% 2% 5%;
  margin: 0;
  /* background-color: #C9283E; */
}

</style>
