<template>
<div>
  <!-- Image and text -->
  <b-navbar class="header" type="dark">
    <b-navbar-brand href="#">
      <img src="~/assets/img/hamsa.png" height="42" width="42" class="mr-2 d-inline-block align-top" alt="Brand Icon">
      <span class="brand-title mr-2 d-inline-block align-top">Diegod Store</span>
    </b-navbar-brand>
  </b-navbar>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
.header {
  background: #1c1d1d;
  padding: 1% 0 1% 10%;
}

.brand-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.15em;
  text-decoration-line: underline;
}

.dimmer-dark {
  /* width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0; */
}

</style>
