html, body
{
  background-color: #fff;
  color: rgb(26, 26, 26);
  font-family: "Lato", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}

/* a, a:hover, a:focus, a:visited
{
} */