<template>
  <div class="content">
    <my-header/>
    <nuxt/>
    <my-footer/>
  </div>
</template>

<script>
import MyFooter from '~/components/bottom.vue'
import MyHeader from '~/components/header.vue'

export default {
  components: {
    MyFooter,
    MyHeader
  }
}
</script>

<style scoped>

.content {
  background-color:#EDF1FA;
  color: whitesmoke;
}

</style>
