<template>
<section>
  <catalog></catalog>
</section>
</template>

<script>
import catalog from '~/components/catalog'

export default {
  components: {
    catalog
  },
  head () {
    return {
      title: 'Home'
    }
  }
}
</script>

<style scoped>
</style>
